<!-- BMI Section -->
<section id='bmiSection' class="bmiSection">
    <br>
    <h3>BMI Calculator</h3>
    <!-- BMI input -->
    <label for="weight">Weight</label>
    <input placeholder="lbs" id="weight" type="number" min="0"><br>
    <label for="height">Height</label>
    <input placeholder="in" id="height" type="number" min="0"><br>
    <button class="bmiSubmit">Submit</button>

    <!-- BMI information displayed -->
    <div id="bmi-dislplay">
        <p id="heading"></p>
        <p id="bmi-output"></p>
        <p id="message"></p>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./assets/js/bmi.js"></script>