<button>Workout Frequency</button>
<button class="setButton">Exercise Frequency</button>
<button>Exercise Analysis</button>

<section class="setContainer">
    <canvas id="setChart"></canvas>
    {{!-- add exercise buttons here --}}
</section>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./assets/js/chart.js"></script>