 <section class="homepage"> <br>
        <h3>Welcome to FitCal!</h3>
        <section class="homepageText">
            <p>FitCal is a nutrition and exercise app with aims to assist users who are looking to improve their
                health.<br><br>
                We provide the five following functionalities:</p>
            <ul>
                <li><a href="/bmi">BMI Calculator</a></li>
                <li><a href="/nutrition">Daily Consumption Calculator</a></li>
                <li><a href="/exercise">Exercise Log</a></li>
                <li><a href="/chart">Workout Analysis</a></li>
                <li><a href="/forum">Open Forum</a></li>
            </ul>
        </section>
    </section>



