<div class="row">
  <div class="col-12 col-md-6">
    <form class="form login-form">
      <h3>Login</h3>
      <div class="form-group">
        <label for="email-login">Email:</label>
        <br>
        <input class="form-input" type="email" id="email-login" required />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <br>
        <input class="form-input" type="password" id="password-login" required />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>
    </form>
  </div>
  <div class="col-12 col-md-6">
    <form class="form signup-form">
      <h3>Register</h3>
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <br>
        <input class="form-input" type="text" id="name-signup" required />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <br>
        <input class="form-input" type="email" id="email-signup" required />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <br>
        <input class="form-input" type="password" id="password-signup" required />
      </div>
      <div class="form-group">
        <label for="passRetype">Retype Password:</label>
        <br>
        <input type="password" id="passRetype" required />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="./assets/js/login.js"></script>