*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: #046db9; */
}

.bmi {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bmiSection {
    background-color: #ffffff;
    padding: 30px 30px;
    width: 400px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.15);
}

.bmiSection h1 {
    background: #024b94;
    color: white;
    text-align: center;
    font-size: 23px;
    letter-spacing: 1px;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 40px;
}

.display {
    box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
    margin-bottom: 60px;
}

#result {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #0be881;
}

#category {
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}

.row {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 40px;
}

.row span {
    font-weight: 500;
}

.col-md-6 {
    border: grey solid 2px;
    padding: 10px;
    background-color: rgb(232, 232, 232);
}

input[type="range"] {
    width: 70%;
    height: 3.5px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #dcdcdc;
    border-radius: 3px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1c1c1c;
    border-radius: 50%;
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .row{
    flex-direction: column;
    align-items: center;
    }
}