
.setContainer {
    display: none;
}

.workoutFrequency {
    display: none;
}

.frequencyBtn, .setButton, .analysisBtn, .anaylzeBtn, .setDate, .startDt, .endDt, .chooseAna  {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: #1947c7; /* Blue */
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .dropdown {
    border-color: transparent transparent #fff transparent;
    top: 5px;
  }
  .dropdown {
    color: #f9f6f6;
    padding: 7px 14px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .dropdown {
    background-color: #076ae1;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  
