.setContainer {
    display: none;
}

.workoutFrequency {
    display: none;
}

.anaylzeBtn {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #1947c7;
    /* Blue */
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.analysisCheckboxes {

}

.setCheckboxes {}

.dropdown {
    border-color: transparent transparent #fff transparent;
    top: 5px;
}

.dropdown {
    color: #f9f6f6;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.dropdown {
    background-color: #076ae1;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.setDate {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 240px;
  min-height: 20px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  top: 50px;
}
.anaylzeBtn {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 280px;
  min-height: 25px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  top: 50px;
}

.newWorkoutBtn, .chooseProgBtn, .savedExercisesBtn, 
.searchToggle, .add, .set, .deleteAllBtn, 
.sub, .saveSesh, .selectProgBtn, .searchBtn,
.calMacros, .macroSubmit, .setupBtn,
.remove-button, .cancel-button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 240px;
  min-height: 20px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  top: 50px;
}

.setDate:hover,
.setDate:focus,
.anaylzeBtn:hover,
.anaylzeBtn:focus,
.newWorkoutBtn:hover,.newWorkoutBtn:focus, 
.chooseProgBtn:hover,.chooseProgBtn:focus, 
.savedExercisesBtn:hover, .savedExercisesBtn:focus, 
.searchToggle:hover, .searchToggle:focus, 
.add:hover,.add:focus, .set:hover,.set:focus,
.frequencyBtn:focus,.frequencyBtn:hover,.setButton:hover,.setButton:focus,
.analysisBtn:hover, .analysisBtn:focus, .deleteAllBtn:hover,.deleteAllBtn:focus
.sub:focus, .sub:hover, .saveSesh:focus, .saveSesh:hover, 
.selectProgBtn:hover, .selectProgBtn:focus,.searchBtn:hover, .searchBtn:focus,
.calMacros:focus, .calMacros:hover, .macroSubmit:focus, .macroSubmit:hover,
.setupBtn:focus, .setupBtn:hover, .remove-button:focus, .remove-button:hover,
.cancel-button:hover, .cancel-button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.setDate:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.setDate:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.frequencyBtn,.setButton,
.analysisBtn {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.frequencyBtn,.setButton,
.analysisBtn {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.frequencyBtn:hover:after,
.setButton:hover:after,
.analysisBtn:hover:after {
  opacity: .5;
}

.frequencyBtn:active,
.setButton:active,
.analysisBtn:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.frequencyBtn:active:after
.setButton:active:after,
.analysisBtn:active:after {
  opacity: 1;
}

.freqChartContainer {
 display: flex;
 justify-content: center;
}

.chartBtns {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .frequencyBtn,.setButton,
  .analysisBtn {
    padding: 14px 22px;
    width: 176px;
  }
}

@media only screen and (max-width: 576px) {
  /* formatting for exercise section */
  .chartBtns {
    display: flex;
    flex-direction: column;
  }

}
