.setContainer {
    display: none;
}

.workoutFrequency {
    display: none;
}

.anaylzeBtn {
    padding: 4px 10px;
    text-align: center;
    display: inline-block;

}

.dropdown {
    padding: 5px 10px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.newWorkoutBtn, .chooseProgBtn, .savedExercisesBtn, 
.searchToggle, .add, .set, .deleteAllBtn, 
.sub, .saveSesh, .selectProgBtn, .searchBtn,
.calMacros, .macroSubmit, .setupBtn,
.remove-button, .cancel-button, .setDate ,.anaylzeBtn {
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  max-width: 280px;
  min-height: 25px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  top: 50px;
}

.frequencyBtn,.setButton,
.analysisBtn {
  appearance: none;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: none;
  box-sizing: border-box;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  opacity: 1;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  transition: all .3s;
  transform: translateY(0);
  transition-duration: .35s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.frequencyBtn:hover:after,
.setButton:hover:after,
.analysisBtn:hover:after {
  opacity: .5;
}

.frequencyBtn:active,
.setButton:active,
.analysisBtn:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.frequencyBtn:active:after
.setButton:active:after,
.analysisBtn:active:after {
  opacity: 1;
}

.freqChartContainer {
 display: flex;
 justify-content: center;
}

.chartBtns {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .frequencyBtn,.setButton,
  .analysisBtn {
    padding: 14px 22px;
    width: 176px;
  }
}

@media only screen and (max-width: 576px) {
  /* formatting for exercise section */
  .chartBtns {
    display: flex;
    flex-direction: column;
  }
}
