@media only screen and (max-width: 576px) {
    /* formatting for header */
    .header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }
    nav {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        border-top: 1px lightgray solid;
    }
    
    /* formatting for exercise section */
    .exercise-selection {
        max-width: 375px;
        word-wrap: break-word;
    }

    .saved-exercises {
        max-width: 390px;
        word-wrap: break-word;
    }

    .modal-card {
        margin: 0px;
    }

    /* formatting for nutrition table */
    .table th:not([align]) {
        text-align: center;
    }

    td {
        max-width: 100px;
        word-wrap: break-word;
    }

    .table td {
        padding: 0.5em 0.2em;
    }

    .table th {
        padding: 0.5em 0.2em;
        word-wrap: break-word;
    }

    table td:not([align]) {
        text-align: center;
    }
    input[type=number]{
        width: 80px;
    } 
}